body {
    color: rgb(0, 0, 0);
    font-size: 14pt;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
    color: rgb(224, 96, 10);
    font-family: 'Plus Jakarta Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    color: rgb(37, 139, 97);
    font-size: 16pt;
    font-weight: bold;
    padding-left: 12px;
}

p {
    font-weight: bold;
    padding-left: 30px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

summary {
    color: rgb(120, 17, 216);
}

summary:hover {
    background-color: rgb(157, 231, 138);
    transition: background-color 0.4s ease-in;
}

.box-content {
    padding-top: 30px;
}

.doc-content {
    padding-top: 40px;
}

.space-y-2 {
    padding-left: 10px;
}

/* .link-to-page:hover {
    border-radius: 24px;
    background-color: rgb(225, 236, 173);
    transition: background-color 0.4s ease-in;
}

.text-indigo-600:hover {
    text-decoration: underline;
} */

.hl-text:hover {
    text-decoration: underline;
}

.rotate-img {
    border-radius: 24px;
    animation: App-logo-spin infinite 10s linear;
}

.rotate-img:hover {
    background-color: rgb(224, 60, 10);
    transition: background-color 0.4s ease-in;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}