body {
    color: rgb(0, 0, 0);
    font-size: 14pt;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
    color: rgb(224, 96, 10);
    font-family: 'Plus Jakarta Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 10px;
    border-top: 10px solid rgb(224, 96, 10);
}

h3 {
    color: rgb(37, 139, 97);
    font-size: 16pt;
    font-weight: bold;
    padding-left: 12px;
}

p {
    font-weight: bold;
    padding-left: 30px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

summary {
    color: rgb(120, 17, 216);
}

summary:hover {
    background-color: #daeff3;
    transition: background-color 0.4s ease-in;
    /* color:rgb(223, 66, 66);
    transition: color 0.4s ease-in; */
}

.box-content {
    padding-top: 30px;
}

.doc-content {
    padding-top: 40px;
}

.doc-pics {
    padding-left: 20px;
}

.space-y-2 {
    padding-left: 10px;
}

.home-bg {
    height: 980px;
    background-color: rgb(247, 228, 215);
    /* background-image: url("../images/bg-image.jpg");
    background-position: center;
    background-size: cover; */
}

.header-bg-img {
    /* background-image: url("https://www.postron.com/img/content/pages/2acf41dc-9d5e-07de-28fc-83a09da4a79b.webp"); */
    background-position: center;
    background-size: cover;
}

.header-title {
    font-size: 14pt;
    color: rgb(207, 87, 87)
}

.hl-text:hover {
    text-decoration: underline;
}

.rotate-img {
    margin-top: 50px;
    display: inline;
}

/* .rotate-img {
    border-radius: 24px;
    animation: App-logo-spin infinite 9s linear;
}

.rotate-img:hover {
    background-color: rgb(224, 60, 10);
    transition: background-color 0.4s ease-in;
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */